button:focus {outline:0;}
a:focus {outline:0;}
.commonModal{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #00000052;
	z-index: 9999; 
	padding: 7%;
}
.commonModal .sec{background-color: #fff;border-radius:4px;}
.commonModal .h1{}

/* For mobiles */
.mobileView{display:none;}
@media(max-width:768px){
	.desktopView{display:none !important;}
	.mobileView{display:block;;}
}
#mmenu{background-color: #fff; position: fixed; width: 82%; height: 100%; z-index: 1; left: -82%;overflow-y: scroll;}
.mmenuBtn
{
    position: absolute;
    left: 8px;
    font-size: 1.5rem;
    top: 7px;
}
#mmenuItems a{margin-bottom: 22px; width: 100%; float: left; color:black; font-size: 15px;}
#mmenuSearchBtn{
	float: right;
    margin-top: 4px;
	background: none;
    border: none;
    font-size: 1.7rem;
    margin-right: 15px;
}

